<.flash_group flash={@flash} />
<div class="w-full h-64 flex flex-col items-center justify-center bg-slate-200">
  <h1>Users List</h1>
  <ul>
    <%= for user <- @users do %>
      <li><%= user.name %></li>
      <!-- Assuming each user has a 'name' field -->
    <% end %>
  </ul>
</div>
