<.header>
  New Faq
  <:subtitle>Use this form to manage faq records in your database.</:subtitle>
</.header>

<.faq_form changeset={@changeset} action={~p"/faqs"} />

<.back navigate={~p"/faqs"}>Back to faqs</.back>
